
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Стилі для заголовка */
header {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space;

}

nav ul {
  list-style: none;
 
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Стилі для головного блоку */
.hero {
  background-image: url('main.png');
  background-size: cover;
  background-position: left;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
}

.hero-content {
  color: #fff;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn_poshuk{
  display: inline-block;
  background-color: #ff9800;
  color: #fff;
  font-size: 13px;
  padding: 8px 22px;
  border-radius: 5px;
  text-decoration: none;
}
.cta-button {
  display: inline-block;
  background-color: #ff9800;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #f57c00;
}

/* Стилі для рекомендованих проектів */
.featured-projects {
  padding: 40px;
}

.featured-projects h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Стилі для блоку "Як це працює" */
.how-it-works {
  background-color: #fff;
  padding: 40px;
}

.how-it-works h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.step {
  text-align: center;
}

.step img {
  width: 160px;
  height: 110px;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.step p {
  font-size: 14px;
  color: #777;
}

/* Стилі для підвалу */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}

footer p {
  font-size: 14px;
}

.contactinfo{

display: flex;
}


.nav-pills{
 display: flex;
  flex-direction: column;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.project a {
  display: inline-block;
  background-color: #ff9800;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.project a:hover {
  background-color: #f57c00;
}

.hero {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.featured-projects {
  padding: 60px 0;
}

.project {
  margin-bottom: 30px;
}

.how-it-works {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.step {
  margin-bottom: 30px;
}

